{%extends "index.html" %}
{% load bootstrap_icons %}
{% block title %}{{computer.full_name}} - E-commerce{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">{{computer.full_name}}</h1>
        <p class="card-text">{{computer.description}}</p>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h2>{{computer.price}} zł</h2></li>
            {% if computer.numbers == 0 %}
            <li class="list-group-item text-danger">
                {% bs_icon 'x-circle' %} Niedostępne
            </li>
            {% else %}
            <li class="list-group-item text-success">
                {% bs_icon 'check-circle' %} Dostępne: {{computer.numbers}} szt.
            </li>
            {% endif %}
            <li class="list-group-item">Producent: {{computer.manufacturer}}</li>
            <li class="list-group-item">{% bs_icon 'cpu' %} Procesor: {{computer.cpu}}</li>
            <li class="list-group-item">{% bs_icon 'gpu-card' %} Grafika: {{computer.gpu}}</li>
            <li class="list-group-item">{% bs_icon 'memory' %} RAM: {{computer.ram}}</li>
            <li class="list-group-item">System:
                {% if "Windows" in computer.system %}
                {% bs_icon 'windows' %}
                {% elif "macOS" in computer.system %}
                {% bs_icon 'apple' %}
                {% endif %}{{computer.system}}
            </li>
        </ul>
        <div class="card-footer text-muted">id sprzedawcy: {{computer.id}}</div>
    </div>
</div>
{%endblock content%}