{%extends "index.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">{{computer.full_name}}</h1>
        <p class="card-text">{{computer.description}}</p>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h2>{{computer.price}} zł</h2></li>
            <li class="list-group-item">Dostępne: {{computer.numbers}} szt.</li>
            <li class="list-group-item">Producent: {{computer.manufacturer}}</li>
            <li class="list-group-item">Procesor: {{computer.cpu}}</li>
            <li class="list-group-item">Grafika: {{computer.gpu}}</li>
            <li class="list-group-item">RAM: {{computer.ram}}</li>
            <li class="list-group-item">System: {{computer.system}}</li>
        </ul>
        <div class="card-footer text-muted">id producenta: {{computer.computer_id}} / id sprzedawcy: {{computer.id}}
        </div>
    </div>
</div>
{%endblock content%}