{%extends "index.html" %}
{% block title %}E-commerce - komputery{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Liczba dostępnych obiektów: {{desktops.count}}
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            {% for c in desktops %}
            <a href="{{c.id}}" class="list-group-item list-group-item-action">
                <h5 class="card-title">{{ c.name }}</h5>
                <p class="card-text">{{c.price}} zł</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{%endblock content%}