{% extends 'index.html' %}
{% block content %}
<div class="container">
    <h2>Logowanie</h2>
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input class="form-control" type="text" name="username" id="loginUsernameInput">
            <label for="loginUsernameInput">Nazwa użytkownika</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="password" name="password" id="loginPasswordInput">
            <label for="loginPasswordInput">Hasło</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Zaloguj">
        <a class="btn btn-sm" href="{% url 'password_reset' %}"><i>Zapomniałeś hasła?</i></a>
    </form>
</div>
{% endblock %}