<!-- templates/profile.html -->

{% extends 'index.html' %}
{% block title %}Profil użytkownika{% endblock title %}
{% block content %}
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="card w-50">
        <div class="card-header">
            <h3>Profil użytkownika</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="small mb-1" for="id_first_name">Imię:</label>
                    {{ user_form.first_name }}
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="id_last_name">Nazwisko:</label>
                    {{ user_form.last_name }}
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="id_email">E-mail:</label>
                    {{ user_form.email }}
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Zapisz zmiany</button>
                <button type="reset" class="btn btn-dark">Zresetuj</button>
            </form>
        </div>
    </div>
{% endblock content %}
